{% extends 'client_app/base.html' %}
{% block content %}
  <h3>Search</h3>
  <input type="text" id="search" name="search"/>
  <ul id="search-results">

  </ul>
  {% for event in event_list %}
    {# Each "contact" is a Contact model object. #}
    <div class="card">
      <p>Event: <a href="{{ event.get_user_absolute_url}}">{{ event.title }}</a></p>
      <p>Location: {{event.location}}<br>
      <p>Date: {{event.datetime_of_event|date:"d-m-Y"}}, Time: {{event.datetime_of_event|date:"Hi"}}<br>

    </div>

  {% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if event_list.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ event_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ event_list.number }} of {{ event_list.paginator.num_pages }}.
        </span>

        {% if event_list.has_next %}
            <a href="?page={{ event_list.next_page_number }}">next</a>
            <a href="?page={{ event_list.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}



{% block javascript%}

{% endblock %}