{% extends 'client_app/base.html' %}
{% block content %}
  <h3>Search</h3>
  <input type="text" id="search" name="search"/>
  <ul id="search-results">

  </ul>
  {% for event in event_list %}
    {# Each "contact" is a Contact model object. #}
    <a href="{{ event.get_absolute_url }}">{{ event.title }}</a> ({{event.location}}) - {{event.datetime_of_event}<br>
  {% endfor %}
{% endblock %}
<div class="pagination">
    <span class="step-links">
        {% if events.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ events.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ events.number }} of {{ events.paginator.num_pages }}.
        </span>

        {% if events.has_next %}
            <a href="?page={{ events.next_page_number }}">next</a>
            <a href="?page={{ events.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>


{% block javascript%}

{% endblock %}