{% extends 'admin_app/base.html' %}
{% block content %}
<form id="post_form" method="post" action="{% url 'create_event' %}" enctype="multipart/form-data">

    {% for hidden in event_form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% for field in event_form %}
        {{field.label}}: {{ field }} <br />
    {% endfor %}

    {{ photo_form.management_form }}
    {% for form in photo_form %}
        {{ form }}
    {% endfor %}


    <input type="submit" name="submit" value="Submit" />
</form>
{% endblock %}
{% block javascript %}
<script>
    $(function () {
        $('.datetime-input').datetimepicker({
            format:'YYYY-MM-DD HH:mm'
        });
    });
</script>
{% endblock %}
