{% extends 'admin_app/base.html' %}
{% block content %}
<form action="{% url 'event_view' event_id=event_id %}" method="post">
    {{form.as_p}}
    {{ photo_form.as_p }}
    <input type="submit" value="Submit">
</form>
<form action="{% url 'photo_upload' event_id=event_id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <button type="submit">Upload</button>
</form>


{% endblock content %}
{% block javascript %}
<script>
    $(function () {
        $('.datetime-input').datetimepicker({
            format:'YYYY-MM-DD HH:mm'
        });
    });
</script>
{% endblock %}