{% extends 'admin_app/base.html' %}
{% block content %}
<form action="{% url 'event_view' event_id=event_id %}" method="post" enctype="multipart/form-data">
    {{form.as_p}}
    {{ photo_form.as_p }}
    <input type="submit" value="Submit">
</form>
{% endblock content %}

{% block cards %}
{% for image in images %}
    <li>
        <img src="{{ image.image.url }}" alt="Image" width="150" height="150"/>
    </li>
{% endfor %}

{% endblock cards %}

{% block javascript %}
<script>
    $(function () {
        $('.datetime-input').datetimepicker({
            format:'YYYY-MM-DD HH:mm'
        });
    });
</script>
{% endblock %}